html, body {
    margin: 0;
    padding: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: larger;
}



.logo-top {
    max-width: 300px;
    
}

/* Links */
a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_follow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.container_opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_learning {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    float: left;

}

.item4 {
    margin: 20px;

}

.itemicon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    margin: 30px;
}

.containerlevel {
    display: flex;
    align-items: center;
}

.item8 {
    margin: 40px;
}


header, footer {
    background-color: white ;
}
main {
    background-color: #02735E;
}

nav {
    margin-left: 60px;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav ul {
    padding: 0px;
}

.current {
    color: orangered;
}

.floated {
    float: left;
}


img {
    width: 100%;

}

.img-header img {
    height: 500px;
}


.img-front img {
    height: 200px;
    object-fit: cover;
  }

.img-front1 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .img-icons img {
      width: 50px;
      height: 50px;
  }

  .img-logobottom img {
      max-width: 300px;
  }

  .img-front4 img {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 300px;
      object-fit: cover;
  }

   a {  
     color:black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: large;
 }


  label::after {
    content: "";
    display: block;
  }

  .img-pinkblue img {
      width: 600px;
      height: 300px;
  }

  .img-school img {
      width: 300px;
      height: 300px;
  }

  .img-visit img {
      width: 350px;
      height: 400px;
  }

  .math {
      width: 800px;
      height: 300px;
      float: right;
  }

  @media (min-width: 500px) and (max-width: 1200px){

} 



