html, body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 300px;
}

main, footer {
    background-color: #02735E;
}

nav li {
    display: inline-block;
}

nav ul {
    padding: 0px;
}

img {
    width: 100%;
}


.img-front img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

.img-front1 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }



