html, body {
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    max-width: 600px;
    margin: 0 auto;

}

main {
    background-color: black;
}



nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: larger;
}

.logo-top {
    max-width: 300px;
    
}

/* Links */
a {
    text-decoration: none;
}

a:hover {
    color: blue;
}


.text {
    color: black;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container_follow {
    background-color: #02735e;
    align-items: center;
    margin-top: 20px;
}

.container_welcome, .containerlevel, .container_experience, .container_text, .container_ant, 
.container_learning, .container_learning2, .containercos, .container9, 
.container_about,.container_explore, .container_red {
    background-color: #02735e;
}


.img-front1 img {
    display: inline-block;
    margin: 55px;
    margin-bottom: 10px;
    justify-content: center;
    max-width: 100%;
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  .container_red {
      margin-top: 20px;
  }

  .float {
      width: 300px;
      height: 345px;
      float: left;
      align-items: center;
  }


.container_opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02735e;
}


.container_learning {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item_explore {
    margin: 10px;
   
}

.img-fun { 
    max-width: 100%;
    width: 400px;
    height: 400px;

}
.item4 {
    margin: 20px;

}

.itemicon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    margin: 30px;
    
}



.textblack {
    color: black;
}

.containercos {
    display: flex;
    flex-direction: column;
   
}

.itemcos {
    margin: 5px;
    flex: 1;
}

.containerlevel {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item8 {
    margin: 20px;
}

.container9 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.img-visit {
    display: inline-block;
    flex-wrap: wrap;
    margin: 15px;
    width: 300px;
    height: 300px;
}


header {
    background-color: white ;
}

footer {
    background-color: #f23d7f;
}

nav {
    margin-left: 60px;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav ul {
    padding: 0px;
}

.current {
    color: #8c0335
}

img {
    width: 100%;

}

.img-header img {
    height: 500px;
}


.img-front img {
    height: 200px;
    max-width: 100%;
  }

 

  .img-icons img {
      width: 50px;
      height: 50px;
  }

  .img-logobottom img {
      max-width: 300px;
      margin-top: 20px;
  }

  .img-front4 img {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 300px;
      object-fit: cover;
      max-width: 100%;
  }

   a {  
     color:black;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: large;
 }


  label::after {
    content: "";
    display: block;
  }


  .img-school img {
      width: 300px;
      height: 300px;
  }


  .rocket {
    width: 800px;
    height: 300px;
    max-width: 100%;

  }
 

  .math {
      width: 800px;
      height: 300px;
      max-width: 100%;
  }

  @media (min-width: 600px) and (max-width: 1200px) {
}

  @media only screen and (min-with: 600px) {
     
  }

  @media (max-width: 480px) {
      .p {
          font-size: 16px;
      }

      main {
          background-color: black;

      }

      .img-front1, .container_welcome {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0px;
          align-items: center;
      }

      .container_experience {
          font-size: 16px;
          text-align: left;
          
          
        
      }



  




  }






      



